/* Rutherford Labbe: 11-06-2023 */

/* Dimensions */
$grid_container_size: 10px;
$grid_item_size: 100px;

/* Colors */
$grid_item_color_one: #f35220;
$grid_item_color_two: #82be00;
$grid_item_color_three: #05a8f0;
$grid_item_color_four: #ffbb00;
$grid_container_color: white;
$body_color: #2b2a33;

/* Number of grid items - Constants or const */
$grid_item_count: 4;


